.red{
	color: red;
}
body{
	/*overflow-x: hidden;*/
}
fieldset{
	padding:1em;
}

.capital-return-sum{
	height: 1px;
	opacity: 0;
}
.hide{
	height: 1px;
	display: none;
}

.center{
	text-align:center;
}
h1{
	margin: 0;
}
h2{

}
.address-output{
	color: tomato;
}
i{
	position: absolute;
	left:100px;
	top: 0;
}
tr, td{
	border:1px grey solid;
	padding: 10px;
	transition: all ease 1s;

}
td{
	
}
tr:nth-child(even) 
	{
		background-color: #f2f2f2;
	}
.download{
	width: 100%;
	text-align: center;
	margin: 4em 0;
}
.pdf-download{
	padding: 1em;
	text-align: center;
	font-size: 2em;
	color: tomato;
	border:1px tomato solid;
	transition: all ease 0.5s;
	
}
.pdf-download:hover{
	background-color: tomato;
	color: white;
}

.table{
	overflow-x: auto !important;


}

.results-table{
	overflow: hidden;
	width: 100%;
}

.results-table td{
	padding: 1em;

}
.years{
	background-color: tomato;
	text-align: center;
	color: white;
	font-weight: bold;
}
#refresh{
	background-color: lightgreen;
	/*color: white;*/
	padding: 1em;
	margin: auto;
	margin-top: 2em;
	width: 40%;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 30%;
}
#refresh:hover{
	background: white;
}
 
.wrap{
}

.pure-control-group{
}

.loan{
}
.pure-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-between;

}

.pure-form fieldset{
	border:1px black solid !important;
	margin: 1em !important;
	flex: 1 0 40%;
	/*text-align: center;*/
	padding: 1em !important;
	display: flex;
	justify-content: center;
}


.pure-form-aligned .pure-control-group label{
	text-align: left;

}


/*results*/
.table-heading{
	font-weight: bold;
	background-color: royalblue;
	color: white;
	padding: 5px;
	max-width: 100px;
}


.fixed{
	position: fixed;
}
@media only screen and (max-width: 600px) {
	table{
		width: 300px;
		overflow: scroll;
		/*color: red;*/
	}
	.results-table td.year{
		
		/*padding: 2em 7em;*/
	}
}