body{
	/*overflow-x: hidden;*/
}
fieldset{
}
.table{
	overflow-x:scroll !important;
	max-width: 500px !important;
	border: 1px red solid;
}
.center{
	text-align:center;
}
h1{
	margin: 0;
}
h2{

}
i{
	position: absolute;
	left:100px;
	top: 0;
}
tr, td{
	border:1px grey solid;
	padding: 10px;
	transition: all ease 1s;

}
td{
	
}
tr:nth-child(even) 
	{
		background-color: #f2f2f2;
	}

.results-table{

}

.results-table td{
	padding: 1em;
}
.years{
	background-color: tomato;
	text-align: center;
	color: white;
	font-weight: bold;
}
#refresh{
	background-color: lightgreen;
	/*color: white;*/
	padding: 1em;
	margin: auto;
	margin-top: 2em;
	width: 40%;
	display: flex;
	justify-content: center;
	/*transition: all ease 0.3s;*/
}
#refresh:hover{
	background: white;
}
 
.wrap{
	margin-right: 5%;
}

.pure-control-group{
	/*position: relative;*/
}

.loan{
	/*margin-left: 2em;*/
}
.pure-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-between;

}

.pure-form fieldset{
	border:1px black solid !important;
	margin: 1em !important;
	flex: 1 0 40%;
	text-align: center;
}


.pure-form-aligned .pure-control-group label{
	text-align: left;

}


/*results*/
.table-heading{
	font-weight: bold;

	background-color: royalblue;
	color: white;
	padding: 5px;
}



@media only screen and (max-width: 600px) {
	table{
		width: 300px;
		overflow: scroll;
		color: red;
	}
}