fieldset{
	
}

i{
	position: absolute;
	left:100px;
	top: 0;
}
tr, td{
	border:1px black solid;
}
#refresh{
	background-color: lightgreen;
	/*color: white;*/
	position: fixed;
	top: 5px;
	left: 5px;
	padding: 1em;
	margin: auto;
	margin-top: 2em;
	display: flex;
	justify-content: center;
}
.wrap{
	display: flex;
	justify-content: space-between;
	margin-right: 5%;
}
.pure-control-group{
	/*position: relative;*/
}

.loan{
	margin-left: 2em;
}
.pure-form {
	width: 30%;

}

.pure-form fieldset{
	border:1px black solid !important;
	margin: 1em !important;
}


.pure-form-aligned .pure-control-group label{
	text-align: left;

}


/*results*/
.table-heading{
	font-weight: bold;
	background-color: yellow;
}